@(resetForm: Form[controllers.account.Reset.ResetForm], token: String)

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

@layout(null) {

    <h3>@Messages("signup.reset.password.title")</h3>

    @wflash()

    <div class="col col-lg-4">
        @Messages("resetpassword.new.password")

        @form(controllers.account.routes.Reset.runReset(token)) {

	            <fieldset>
	                @inputPassword(
	                    resetForm("inputPassword"),
	                    'placeholder -> Messages("password"),
	                    '_label -> null,
	                    'class -> "form-control"
	                )
	            </fieldset>
                <br>
	            <div class="form-actions">
		                <input type="submit" class="btn btn-primary" value="@Messages("submit")">
		                <a href="@routes.Application.index" class="btn btn-default">@Messages("goback")</a>
	            </div>
        }
    </div>
}
