@(user: User)

@main(user) {
	<article class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
	    
	    <div>
	  		<a href="@routes.Dashboard.lecture("1.html")" class="list-group-item">
	  			<span class="badge">1</span>
	    		<h4 class="list-group-item-heading">Preface</h4>
	    		<p class="list-group-item-text">...</p>
	  		</a>
	  		
	  		<a href="@routes.Dashboard.lecture("2.html")" class="list-group-item">
	  			<span class="badge">2</span>
	    		<h4 class="list-group-item-heading">Why Would I Read These?</h4>
	    		<p class="list-group-item-text">In this section, I will try to give you a reader a reason to continue to read these pages.</p>
	  		</a>
	  		
	  		<a href="@routes.Dashboard.lecture("3.html")" class="list-group-item">
	  			<span class="badge">3</span>
	    		<h4 class="list-group-item-heading">Functions Everywhere 1 - Pure Functions</h4>
	    		<p class="list-group-item-text">In the following sections, I will discuss functions, the building blocks of functional programs. We first must understand a what functions are, what characteristics they have, the rules they follow and how to work with them in the Scala programming language.</p>
	  		</a>
		</div>
		
	</article>
}