@(user: User)

@layout(user) {
	<article class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
	    
	    <div>
	  		<a href="@routes.Dashboard.lecture("1.html")" class="list-group-item">
	  			<span class="badge">1</span>
	    		<h4 class="list-group-item-heading">Introduction</h4>
	    		<p class="list-group-item-text"></p>
	  		</a>
	  		
	  		<a href="@routes.Dashboard.lecture("2.html")" class="list-group-item">
	  			<span class="badge">2</span>
	    		<h4 class="list-group-item-heading">Why Would You Read These?</h4>
	    		<p class="list-group-item-text">In this section, I will try to give you a reader a reason to continue to read these pages.</p>
	  		</a>
	  		
	  		<a href="@routes.Dashboard.lecture("3.html")" class="list-group-item">
	  			<span class="badge">3</span>
	    		<h4 class="list-group-item-heading">What is Functional Programming?</h4>
	    		<p class="list-group-item-text">In the following sections, I will discuss the functional programming definition in comparison to imperative programming paradigm.</p>
	  		</a>
	  		
	  		<a href="@routes.Dashboard.lecture("4.html")" class="list-group-item">
                <span class="badge">4</span>
                <h4 class="list-group-item-heading">Functions Everywhere</h4>
                <p class="list-group-item-text">In the following section, I will discuss functions and their characteristics in more detail.</p>
            </a>
            
            <a href="@routes.Dashboard.lecture("5.html")" class="list-group-item">
                <span class="badge">5</span>
                <h4 class="list-group-item-heading">Higher Order Functions</h4>
                <p class="list-group-item-text">In this section, I will continue to talk about functions, especially the higher order functions.</p>
            </a>
            
            <a href="@routes.Dashboard.lecture("6.html")" class="list-group-item">
                <span class="badge">6</span>
                <h4 class="list-group-item-heading">Curried and Partially applied functions.</h4>
                <p class="list-group-item-text">In this section, We will continue to talk about the function applications, namely currying and partially applied functions.</p>
            </a>
		</div>
		
	</article>
}