@(user: User = null)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@Messages("title")</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/ie10-viewport-bug-workaround.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/idea.css")">
        <script src="@routes.Assets.at("javascripts/jquery-2.2.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/highlight.pack.js")"></script>
        <script src="@routes.Assets.at("javascripts/password.js")"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
		<header>
	        <nav class="nav navbar-default navbar-fixed-top">
	        	<div class="container">
		            <div class="navbar-header">
		                <ul class="nav navbar-nav navbar-right">
		                    <li><a href="@routes.Application.index()">Functional Programming in Scala</a></li>
		                    <li><a href="@routes.Assets.at("thesis/Martin_Zuber_B00066378_thesis.pdf")">Thesis</a></li>
		                    <li><a href=http://www.scalakata.com/">Scala REPL\></a></li>
		                </ul>
		            </div>
	            	@logged(user)
	            </div>
	        </nav>
        </header>

        <section class="container">
            <div class="row">
            	@content
            </div>
        </section>
        <footer class="container">
            <div class="nav navbar-default navbar-fixed-bottom">
                <!-- <p class="text-center">Created by <strong>Martin Zuber</strong>, student number: <strong>B00066378</strong><p> -->
            </div>
        </footer>
    </body>
</html>
